/* SUBTITLE CONFIG */
.section-label {
    color:var(--champagne);
    text-transform:uppercase;
    letter-spacing:0.2rem;
}
/* HEADER */
.header .header1 {
    display:flex;
    width:100%;
    border-bottom:1.5px solid var(--divider);
}
.logo img {
    width:100%;
    height:6vh;
}
.menu {
    position:relative;
    display:flex;
    width:100%;
    height:6vh;
    align-items:center;
    justify-content:start;
    background-color:var(--cream);
}
.menu nav ul {
    list-style:none;
    display:flex;
    justify-content:space-between;
    gap:5vw;
}
.menu nav ul li:first-child a:first-child {
    color:var(--champagne);
    border-bottom:1.5px solid var(--champagne);
}
.menu nav, .request-button{
    padding:1rem;
}
.menu .request-button {
    position:absolute;
    right:0;
}
.menu .request-button a{
    padding:0.5rem;
    border:1px solid var(--charcoal);
    border-radius:5px;
    text-transform:uppercase;
}
.menu a:hover {
    color:var(--champagne);
    border-color:var(--champagne);
}
/* SECTION 1 */ 
.about-container {
    display:flex;
    flex-direction:column;
}
.about-container .text {
    padding:2.5rem;
    display:flex;
    gap:5rem;
    align-items:center;
}
.about-container .text1 {
    display:flex;
    flex-direction:column;
    width:50%;
    gap:1rem;
}
.about-container .text1 p {
    color:var(--champagne);
    letter-spacing:0.2rem;
    text-transform:uppercase;
}
.about-container .div-line {
    width:1px;
    height:200px;
    background-color:var(--divider);
}
.about-container .image-container {
    width:100%;
    height:50vh;
    padding:0;
}
.about-container .image-container img {
    width:100%;
    height:100%;
    object-fit:cover;
}
/* SECTION 2 */
.origin-container {
    display:flex;
    flex-direction:column;
    padding:2.5rem;
    border-bottom:2px solid var(--divider);
    gap:2rem;
}
.origin-container p:first-child {
    text-transform:uppercase;
    letter-spacing:0.2rem;
    color:var(--champagne);
}
.origin-container .origin-bottom {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.origin-bottom .origin-image {
    width:30%;
    height:30vh;
}
.origin-image img {
    object-fit:cover;
    width:100%;
    height:100%;
}
.origin-bottom .text {
    display:flex;
    flex-direction:column;
    width:30%;
    gap:1.25rem;
}
.origin-bottom .text h2::after {
    content:"";
    display:block;
    margin-top:1.25rem;
    height:1px;
    width:10%;
    background-color:var(--divider);
}
.origin-bottom .timeline {
    display:flex;
    flex-direction:column;
    gap:2rem;
    border-left:1px solid var(--divider);
    padding-left:2.5rem;
}
.origin-bottom .timeline .timeline-element {
    display:flex;
    align-items:center;
    gap:2rem;
}
.timeline-element p:first-child {
    letter-spacing:1px;
    font-size:1rem;
}
.timeline-element .div-line {
    height:1px;
    width:20px;
    background-color:var(--champagne);
}
/* SECTION 3 */
.values-container {
    display:flex;
    flex-direction:column;
    padding:2.5rem;
    gap:2rem;
    border-bottom:1px solid var(--divider);
}
.topics-container {
    display:flex;
    justify-content:space-between;
}
.topics-container .topic {
    width:15%;
    display:flex;
    flex-direction:column;
    gap:2rem;
}
.topics-container .topic h3 {
    text-transform:uppercase;
}
.topics-container .topic h3::after {
    content:"";
    width:20%;
    height:1px;
    margin-top:1rem;
    background-color:var(--divider);
    display:block;
}
.topics-container .div-line {
    height:100px;
    width:1px;
    display:block;
    background-color:var(--divider);
}
/* SECTION 4 */ 
.cta-container {
    display:flex;
    flex-direction:column;
    padding:2.5rem;
    gap:2rem;
    text-align:center;
}
.request-button a {
    border:1px solid var(--charcoal);
    padding:0.5rem;
    border-radius:5px;
    text-transform:uppercase;
    font-size:0.7rem;
    letter-spacing:0.05rem;
}
.request-button a:hover {
    color:var(--champagne);
    border-color:var(--champagne);
}
/* FOOTER */
.footer-container {
    width:100%;
    display:flex;
    flex-direction:column;
    background:var(--charcoal);
    color:var(--cream);
    padding:2rem;
    gap:2rem;
}
.footer-top {
    border-bottom:1px solid var(--champagne);
    display:flex;
    justify-content:space-between;
    padding:2rem;
}
.footer-logo {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1rem;
    width:20%;
}
.footer-logo img {
    width:100%;
}
.footer-container p {
    color:var(--cream);
}
.footer-top h3 {
    color:var(--champagne);
    text-transform:uppercase;
    letter-spacing:0.2rem;
}
.vertical-row {
    width:1px;
    height:250px;
    background:var(--champagne);
}
.footer-nav, .footer-service, .footer-center {
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.footer-top ul {
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
.footer-top a {
    color:var(--cream);
}
.footer-top a:hover {
    color:var(--champagne);
}
.center-address, .center-cellphone, .center-email{
    display:flex;
    gap:1rem;
}
.footer-icon .icon {
    font-size:1.7rem;
    color:var(--champagne);
}
.footer-bottom {
    display:flex;
    justify-content:space-between;
}
.footer-bottom a {
    color:var(--champagne);
}
.footer-bottom .terms-privacy {
    display:flex;
    gap:1rem;
}
.terms-privacy a:first-child {
    border-right:1px solid var(--champagne);
    padding-right:1rem;
}
.terms-privacy a:hover {
    color:var(--cream);
}