/* SUBTITLE CONFIG */
.section-label {
    color:var(--champagne);
    text-transform:uppercase;
    letter-spacing:0.2rem;
}
/* HEADER */
.header .header1 {
    display:flex;
    width:100%;
    border-bottom:1.5px solid var(--divider);
}
.logo img {
    width:100%;
    height:6vh;
}
.menu {
    position:relative;
    display:flex;
    width:100%;
    height:6vh;
    align-items:center;
    justify-content:start;
    background-color:var(--cream);
}
.menu nav ul {
    list-style:none;
    display:flex;
    justify-content:space-between;
    gap:5vw;
}
.menu nav ul li:first-child a:first-child {
    color:var(--champagne);
    border-bottom:1.5px solid var(--champagne);
}
.menu nav, .request-button{
    padding:1rem;
}
.menu .request-button {
    position:absolute;
    right:0;
}
.menu .request-button a{
    padding:0.5rem;
    border:1px solid var(--charcoal);
    border-radius:5px;
    text-transform:uppercase;
}
.menu a:hover {
    color:var(--champagne);
    border-color:var(--champagne);
}
/* SECTION 1 */ 
.about-container {
    display:flex;
    flex-direction:column;
}
.about-container .text {
    padding:2.5rem;
    display:flex;
    gap:5rem;
    align-items:center;
}
.about-container .text1 {
    display:flex;
    flex-direction:column;
    width:50%;
    gap:1rem;
}
.about-container .text1 p {
    color:var(--champagne);
    letter-spacing:0.2rem;
    text-transform:uppercase;
}
.about-container .div-line {
    width:1px;
    height:200px;
    background-color:var(--divider);
}
.about-container .image-container {
    width:100%;
    height:50vh;
    padding:0;
}
.about-container .image-container img {
    width:100%;
    height:100%;
    object-fit:cover;
}
/* SECTION 2 */
.origin-container {
    display:flex;
    flex-direction:column;
    padding:2.5rem;
    border-bottom:2px solid var(--divider);
    gap:2rem;
}
.origin-container p:first-child {
    text-transform:uppercase;
    letter-spacing:0.2rem;
    color:var(--champagne);
}
.origin-container .origin-bottom {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.origin-bottom .origin-image {
    width:30%;
    height:30vh;
}
.origin-image img {
    object-fit:cover;
    width:100%;
    height:100%;
}
.origin-bottom .text {
    display:flex;
    flex-direction:column;
    width:30%;
    gap:1.25rem;
}
.origin-bottom .text h2::after {
    content:"";
    display:block;
    margin-top:1.25rem;
    height:1px;
    width:10%;
    background-color:var(--divider);
}
.origin-bottom .timeline {
    display:flex;
    flex-direction:column;
    gap:2rem;
    border-left:1px solid var(--divider);
    padding-left:2.5rem;
}
.origin-bottom .timeline .timeline-element {
    display:flex;
    align-items:center;
    gap:2rem;
}
.timeline-element p:first-child {
    letter-spacing:1px;
    font-size:1rem;
}
.timeline-element .div-line {
    height:1px;
    width:20px;
    background-color:var(--champagne);
}