* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body {
    background-color: var(--cream);
}
:root {
    --title-font: 'Cormorant Garamond', serif;
    --text-font: 'Inter', sans-serif;
    --petrol-blue: #234A4A;
    --cream: #F5F0E7;
    --champagne: #B99B72;
    --charcoal: #282624;
    --white: #FFFFFF;
    --divider: #DED5CA;
    --title: 3rem;
    --subtitle: 2rem;
    --small-text: 1rem;
}
h1 {
    font-size:var(--title);
}
h2 {
    font-size:var(--subtitle);
}
h3, p, a {
    font-size:var(--small-text);
}
h1, h2 {
    font-family:var(--title-font);
}
p,a {
    font-family:var(--text-font);
}
h1, h2, h3, p, a {
    color:var(--charcoal);
}
a {
    text-decoration:none;
}