p,a {
    font-family:var(--text-font);
}
h1, .div-h1 {
    font-family:var(--title-font);
}
/*  HEADER */
.header {
    background:
    linear-gradient(to right, var(--cream) 35%, transparent 70%),
    url(../images-files/home-images/img1.png) center;
    height:auto;
}
.header .header1 {
    display:flex;
    width:100%;
}
.header .logo {
    width:35%;
}
.logo img {
    width:100%;
    height:auto;
}
.menu {
    position:relative;
    display:flex;
    width:100%;
    height:6vh;
    align-items:center;
    justify-content:center;
    background-color:var(--cream);
}
.menu nav, .request-button{
    padding:1rem;
}
.menu nav ul {
    list-style:none;
    display:flex;
    justify-content:space-between;
    gap:5vw;
}
.menu nav a, .request-button a {
    color:var( --charcoal);
    font-size:0.75rem;
    text-decoration:none;
}
.menu .request-button {
    position:absolute;
    right:0;
}
.menu .request-button a{
    padding:0.5rem;
    background-color: var(--cream);
    border-radius:5px;
    box-shadow:0px 4px 12px rgba(40, 38, 36, 0.18);
}
.hero .hero-content {
    width:35%;
    padding:2rem;
}
.hero-content h1 {
    color:var(--charcoal);
}
.hero-content p{
    color:var( --champagne);
}
.hero-content .request-button a{
    padding:0.5rem;
    background-color:var(--champagne);
    border-radius:5px;
    box-shadow:0px 4px 12px rgba(40, 38, 36, 0.18);
}
.menu a:hover {
    color:var(--champagne);
}
.menu .request-button a:hover {
    background:var(--charcoal);
}
.hero-content .request-button a:hover {
    color:var(--cream);
    background-color:var(--charcoal);
}
/* SECTION 1 */
.essence-container {
    padding:1rem;
    display:flex;
    border-top: solid 2px var(--divider);
    align-items:center;
}
.essence-text {
    padding:2rem;
    width:50%;
    border-left:2px solid var(--divider);
}
.essence-text p, .div-h1 {
    margin-bottom:1.25rem;
}
.essence-text p:first-child, .essence-text p:nth-child(3){
    color:var(--champagne);
}
.essence-text p:first-child {
    font-size:0.75rem;
    text-transform:uppercase;
    letter-spacing:0.2rem;
    font-weight:bold;
}
.essence-text .div-h1 {
    font-size:2rem;
    font-weight:bold;
    color:var(--charcoal);
}
.essence-text a {
    color:var(--charcoal);
    text-decoration:none;
}
.essence-image {
    width:45%;
    aspect-ratio:4/3;
}
.essence-image img {
    width:100%;
    height:100%;
    object-fit:cover;
}
.essence-subtext {
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:3rem;
    color:var(--champagne);
}
.essence-subtext1 {
    font-size:0.75rem;
    text-transform:uppercase;
    line-height:1.5rem;
    font-weight:bold;
}
.div-line {
    width:35%;
    height:2px;
    background-color:var(--divider);
}
.essence-button a:hover {
    color:var(--champagne);
}
/* SECTION 2 */
.global-container {
    display:flex;
    width:100%;
    background-color:var(--champagne);
    padding:3rem;
    justify-content:center;
    align-items:center;
    gap:2.5rem;
}
.card {
    padding:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    align-items:center;
}
.card1 {
    border-right:1px solid var(--cream);
}
.card .icon {
    font-size:4rem;
    color:var(--cream);
}
.card div{
    font-size:4rem;
    color:var(--charcoal);
}
.card p {
    color:var(--charcoal);
    text-transform:uppercase;
    letter-spacing:0.2rem;
}
.card p::after {
    content:'';
    display:block;
    width:70%;
    background-color:var(--divider);
    height:2px;
    margin:10% auto 0;
}