:root {
    --title-font: 'Cormorant Garamond', serif;
    --text-font: 'Inter', sans-serif;
    --petrol-blue: #234A4A;
    --cream: #F5F0E7;
    --champagne: #B99B72;
    --charcoal: #282624;
    --white: #FFFFFF;
    --divider: #DED5CA;
    --a: 0.75rem;
    --title: 2rem;
    --letter-spacing: 0.2rem;
}
p,a {
    font-family:var(--text-font);
}
h1, h2{
    font-family:var(--title-font);
}
/*  HEADER */
.header {
    background:
    linear-gradient(to right, var(--cream) 35%, transparent 70%),
    url(../images-files/home-images/img1.png) center;
    height:auto;
}
.header .header1 {
    display:flex;
    width:100%;
}
.header .logo {
    width:35%;
}
.logo img {
    width:auto;
    height:6vh;
}
.menu {
    position:relative;
    display:flex;
    width:100%;
    height:6vh;
    align-items:center;
    justify-content:start;
    background-color:var(--cream);
}
.menu nav, .request-button{
    padding:1rem;
}
.menu nav ul {
    list-style:none;
    display:flex;
    justify-content:space-between;
    gap:5vw;
}
.menu nav a, .request-button a {
    color:var( --charcoal);
    font-size:var(--a);
    text-decoration:none;
}
.menu .request-button {
    position:absolute;
    right:0;
}
.menu .request-button a{
    padding:0.5rem;
    border:1px solid var(--charcoal);
    border-radius:5px;
    text-transform:uppercase;
}
.hero .hero-content {
    width:35%;
    padding:2.5rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.hero-content h1 {
    color:var(--charcoal);
    font-size:3rem;
}
.hero-content p{
    color:var( --champagne);
}
.menu a:hover {
    color:var(--champagne);
    border-color:var(--champagne);
}
/* SECTION 1 */
.essence-container {
    padding:1rem;
    display:flex;
    border-top: solid 2px var(--divider);
    gap:2rem;
    align-items:center;
}
.essence-text {
    padding-left:2rem;
    width:30%;
}
.essence-text p, h2 {
    margin-bottom:1.25rem;
}
.essence-text p:first-child, .essence-text p:nth-child(3){
    color:var(--champagne);
}
.essence-text p:first-child {
    font-size:var(--a);
    text-transform:uppercase;
    letter-spacing:var(--letter-spacing);
}
.essence-text h2 {
    font-size:var(--title);
    font-weight:normal;
    color:var(--charcoal);
}
.essence-text a {
    color:var(--charcoal);
    text-decoration:none;
}
.essence-image {
    width:45%;
    aspect-ratio:4/3;
}
.essence-image img {
    width:100%;
    height:100%;
    object-fit:cover;
}
.essence-subtext {
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:3rem;
    color:var(--champagne);
}
.essence-subtext1 {
    font-size:var(--a);
    text-transform:uppercase;
    line-height:1.5rem;
    font-weight:bold;
}
.div-line {
    width:35%;
    height:2px;
    background-color:var(--divider);
}
.essence-button a:hover {
    color:var(--champagne);
}
/* SECTION 2 */
.global-container {
    display:flex;
    width:100%;
    background-color:var(--champagne);
    padding:3rem;
    justify-content:center;
    align-items:center;
    gap:2.5rem;
}
.card {
    padding:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    align-items:center;
}
.card1 {
    border-right:1px solid var(--cream);
}
.card .icon {
    font-size:4rem;
    color:var(--cream);
}
.card div{
    font-size:4rem;
    color:var(--charcoal);
}
.card p {
    color:var(--charcoal);
    text-transform:uppercase;
    letter-spacing:var(--letter-spacing);
}
.card p::after {
    content:'';
    display:block;
    width:70%;
    background-color:var(--divider);
    height:2px;
    margin:10% auto 0;
}
/*SECTION 3*/
.hotels-container {
    width:100%;
    display:flex;
    flex-direction:column;
    padding:2rem;
    gap:1rem;
}
.hotels-heading {
    width:50%;
    border-left:2px solid var(--divider);
    padding-left:1rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.hotels-heading p {
    text-transform:uppercase;
    letter-spacing:var(--letter-spacing);
    font-size:var(--a);
    color:var(--charcoal);
}
.hotels-heading h2{
    font-size:var(--title);
    font-weight:normal;
    color:var(--charcoal);
}
.hotels-grid {
    width:100%;
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    column-gap:0.5rem;
}
.hotels-grid a {
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:end;
    aspect-ratio:1/2;
    background-size:cover;
    text-decoration:none;
    font-weight:bold;
    text-shadow:1px 1px 3px black;
}
.hotels-grid a:first-child {
    background-position:75%;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent 50%),
    url(../images-files/home-images/img3.png);
}
.hotels-grid a:nth-child(2) {
    background-position:90%;
    background-image:
    linear-gradient(to top, rgba(0,0,0,0.65), transparent 50%),
    url(../images-files/home-images/img4.png);
}
.hotels-grid a:nth-child(3) {
    background-position:right;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent 50%),
    url(../images-files/home-images/img5.png);
}
.hotels-grid a:nth-child(4) {
    background-position:center;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent 50%),
    url(../images-files/home-images/img6.png);
}
.hotels-grid a:nth-child(5) {
    background-position:center;
    background-image:url(../images-files/home-images/img7.png);
}
.hotels-grid a:nth-child(6) {
    background-position:center;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent 50%),
    url(../images-files/home-images/img8.png);
}
.hotels-grid a .hotel {
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:var(--cream);
    gap:0.5rem;
}
.hotels-grid a h3, .hotels-grid a p:nth-child(2) {
    text-transform:uppercase;
    letter-spacing:var(--letter-spacing);
}
.hotels-grid a p:nth-child(3) {
    font-weight:normal;
}
/* SECTION 4 */ 
.banner-container {
    width:100%;
    padding:2rem;
    background:
    linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, transparent 40%),
    linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, transparent 40%),
    url(../images-files/home-images/img9.png) center / cover;
    display:flex;
    color:var(--cream);
    text-shadow:1px 1px 2px black;
    align-items:center;
    justify-content:space-between;
}
.banner-text {
    width:50%;
    border-left:1px solid var(--divider);
    padding-left:1rem;
    display:flex;
    flex-direction:column;
    gap:0.75rem;
}
.banner-text p:first-child, .request-text p:first-child{
    font-size:var(--a);
    text-transform:uppercase;
    letter-spacing:var(--letter-spacing);
}
.banner-text h2, .request-text h2 {
    font-size:var(--title);
    font-weight:normal;
}
.banner-topics {
    text-transform:uppercase;
    display:flex;
    flex-direction:column;
    gap:0.75rem;
    border-left:1px solid var(--divider);
    padding-left:1rem;
}
.banner-topics p {
    font-size:var(--a);
}
/* SECTION 5 */ 
.request-container {
    color:var(--charcoal);
    width:100%;
    padding:2rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2rem;
}
.request-text {
    display:flex;
    flex-direction:column;
    text-align:center;
    width:50%;
    gap:0.75rem;
}
.request-text p {
    color:var(--champagne);
}
.request-button2 a {
    text-decoration:none;
    color:var(--charcoal);
    border:1px solid var(--charcoal);
    padding:0.5rem;
    border-radius:5px;
    text-transform:uppercase;
    font-size:0.7rem;
    letter-spacing:0.05rem;
}
.request-button2 a:hover {
    color:var(--champagne);
    border-color:var(--champagne);
}
/* FOOTER */
.footer-container {
    width:100%;
    display:flex;
    flex-direction:column;
    background:var(--charcoal);
    color:var(--cream);
    padding:2rem;
    gap:2rem;
}
.footer-top {
    border-bottom:1px solid var(--champagne);
    display:flex;
    justify-content:space-between;
    padding:2rem;
}
.footer-logo {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1rem;
    width:20%;
}
.footer-logo img {
    width:100%;
}
.footer-top h3 {
    color:var(--champagne);
    text-transform:uppercase;
    font-size:var(--a);
    letter-spacing:0.2rem;
    font-weight:normal;
}
.vertical-row {
    width:1px;
    height:250px;
    background:var(--champagne);
}
.footer-nav, .footer-service, .footer-center {
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.footer-top ul {
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
.footer-top a:hover {
    color:var(--champagne);
}
.footer-top a {
    color:var(--cream);
    text-decoration:none;
}
.center-address, .center-cellphone, .center-email{
    display:flex;
    gap:1rem;
}
.footer-icon .icon {
    font-size:1.7rem;
    color:var(--champagne);
}
.footer-bottom {
    display:flex;
    justify-content:space-between;
}
.footer-bottom a {
    text-decoration:none;
    color:var(--champagne);
}
.footer-bottom .terms-privacy {
    display:flex;
    gap:1rem;
}
.terms-privacy a:first-child {
    border-right:1px solid var(--champagne);
    padding-right:1rem;
}
.terms-privacy a:hover {
    color:var(--cream);
}
/* MEDIA QUERY */ 
@media (max-width:1024px) {
    .essence-text h2, .hotels-heading h2, .banner-text h2 {
        font-size:1.7rem;
    }
    .hero-content h1 {
        font-size:2rem;
    }
    p, .essence-text a {
        font-size:0.9rem;
    }
    .hero-content .request-button2 {
        width:120%;
    } 
    .essence-container .essence-text {
        width:60%;
    }
    .essence-image {
    width:50%;
    aspect-ratio:3/4;
    }
    .essence-image img {
    width:100%;
    height:100%;
    object-fit:cover;
    }
    .essence-subtext p {
        font-size: 0.7rem;
    }
    .card .icon, .card div{
        font-size:3rem;
    }
    .card p {
        font-size:0.7rem;
    }
    .card p::after {
    height:1px;
    }
    .hotels-container .hotels-heading {
        width:100%;
    }
    .hotels-grid {
    width:100%;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:0.5rem;
    }
    .hotels-grid a {
        aspect-ratio:2/1;
    }
    .hotels-grid h3, .hotels-grid p {
        font-size:0.7rem;
    }
    .hotels-grid a .hotel {
        gap:1px;
    }
    .banner-text {
        gap:1px;
    }
    .banner-topics p {
        font-size:0.7rem;
    }
    .footer-container {
        padding:1rem;
    }
    .footer-container p, .footer-container a {
        font-size:0.9rem;
    }
    .footer-container .vertical-row {
        height:200px;
    }
    .footer-bottom a {
        font-size:0.7rem;
    }
}
@media (min-width:850px) and (max-width:1024px) {
   .essence-image {
    aspect-ratio:1/1;
   }
}
@media (min-width:481px) and (max-width:768px) {
    .essence-text h2, .hotels-heading h2, .banner-text h2{
        font-size:1.4rem;
    }
    .hero .hero-content {
        width:70%;
    }
    .header {
    background:
    linear-gradient(to right, var(--cream) 60%, transparent),
    url(../images-files/home-images/img1.png) center;
    height:auto;
    }
    .hero-content h1 {
        font-size:1.7rem;
    }
    .hero-content p {
        font-size:0.8rem;
    }
    .essence-container {
        flex-direction:column;
    }
    .essence-container .essence-text {
        width:100%;
    }
    .essence-text p:first-child, .hotels-heading p:first-child, .banner-text p:first-child, .request-text p:first-child {
        font-size:0.7rem;
    }
    .essence-text p, .banner-request p {
        font-size:0.8rem;
    }
    .essence-image {
        width:90%;
        aspect-ratio:2/1;
}
    .essence-image img {
        width:100%;
        height:100%;
        object-fit:cover;
    }
    .essence-subtext {
        width:100%;
    }
    .global-container {
        padding:2rem;
    }
    .card .icon, .card div{
        font-size:2rem;
    }
    .hotels-grid {
        width:100%;
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        gap:0.5rem;
    }
    .banner-text {
        gap:0.7rem;
    }
    .banner-text p, .request-text p{
        font-size:0.8rem;
    }
    .banner-topics p {
        font-size:0.65rem;
    }

    .footer-top{
        flex-direction:column;
        padding:1rem;
    }
    .vertical-row {
        display:none;
    }
    .footer-nav, .footer-service, .footer-center {
        border-top:1px solid var(--champagne);
        padding:1rem 0px 1rem 0px;
    }
    .footer-logo {
        flex-direction:row;
        width:100%;
        gap:1rem;
    }
    .footer-logo img {
        width:50%;
    }
    .footer-container p, .footer-container a {
        font-size:0.8rem;
    }
}
@media (max-width:480px) {

}