p,a {
    font-family:var(--text-font);
}
h1 {
    font-family:var(--title-font);
}
.header {
    background:
    linear-gradient(to right, var(--cream) 35%, transparent 70%),
    url(../images-files/home-images/img1.png) center;
}
.header .header1 {
    position:relative;
    display:flex;
    width:100%;
}
.header .logo {
    width:35%;
}
.logo img {
    width:100%;
    height:auto;
}
.menu {
    display:flex;
}
.menu nav, .request-button{
    padding:1rem;
}
.menu nav ul {
    list-style:none;
    display:flex;
    justify-content:space-between;
    gap:5vw;
}
.menu nav a, .request-button a {
    color:var( --charcoal);
    font-size:0.75rem;
    text-decoration:none;
}
.menu .request-button {
    position:absolute;
    right:0;
}
.menu .request-button a{
    padding:0.5rem;
    background-color: var(--cream);
    border-radius:5px;
    box-shadow:0px 4px 12px rgba(40, 38, 36, 0.18);
}
.hero .hero-content {
    width:35%;
    padding:2rem;
}
.hero-content h1 {
    color:var(--charcoal);
}
.hero-content p{
    color:var( --champagne);
}
.hero-content .request-button a{
    padding:0.5rem;
    background-color:var(--champagne);
    border-radius:5px;
    box-shadow:0px 4px 12px rgba(40, 38, 36, 0.18);
}
.menu a:hover {
    color:var(--champagne);
}
.menu .request-button a:hover {
    background:var(--charcoal);
}
.hero-content .request-button a:hover {
    color:var(--cream);
    background-color:var(--charcoal);
}

